In [1]:
import pandas as pd
import numpy as np

In [3]:
user_interactions = pd.read_csv("C:/Users/DELL/Desktop/bookrecommend/goodreads_interactions.csv")

In [4]:
user_interactions

           user_id  book_id  is_read  rating  is_reviewed
0                0      948        1       5            0
1                0      947        1       5            1
2                0      946        1       5            0
3                0      945        1       5            0
4                0      944        1       5            0
...            ...      ...      ...     ...          ...
228648337   876144    24772        0       0            0
228648338   876144    23847        1       4            0
228648339   876144    23950        1       3            0
228648340   876144   374106        1       5            1
228648341   876144   351607        1       5            1

[228648342 rows x 5 columns]

In [5]:
user_interactions.shape

(228648342, 5)

In [6]:
user_interactions.isnull().sum()

user_id        0
book_id        0
is_read        0
rating         0
is_reviewed    0
dtype: int64

In [7]:
x =user_interactions.groupby('user_id').count()['rating']>500

In [8]:
filtered_user_interactions = user_interactions[user_interactions['user_id'].isin(x[x].index)]

In [8]:
filtered_user_interactions.to_csv("filtered_user_interactions.csv", index=False)

In [2]:
filtered_user_interactions = pd.read_csv("C:/Users/DELL/Desktop/bookrecommend/filtered_user_interactions.csv")

In [5]:
filtered_user_interactions

           user_id  book_id  is_read  rating  is_reviewed
0                0      948        1       5            0
1                0      947        1       5            1
2                0      946        1       5            0
3                0      945        1       5            0
4                0      944        1       5            0
...            ...      ...      ...     ...          ...
118879578   442597    68576        1       3            0
118879579   442597   161345        1       0            0
118879580   442597   111929        1       5            0
118879581   442597   170452        1       0            0
118879582   442597    48071        1       0            0

[118879583 rows x 5 columns]

In [3]:
y = filtered_user_interactions.groupby('book_id').count()['rating']>50

In [4]:
filtered_user_interactions_2 = filtered_user_interactions[filtered_user_interactions['book_id'].isin(y[y].index)]

In [8]:
filtered_user_interactions_2.to_csv("filtered_user_interactions.csv", index=False)

In [4]:
# index_to_drop = filtered_user_interactions[filtered_user_interactions['is_read'] == 0].index

# # Drop the rows with those indices
# filtered_user_interactions = filtered_user_interactions.drop(index_to_drop)

In [3]:
filtered_user_interactions.shape

(118879583, 5)

In [3]:
filtered_user_interactions = filtered_user_interactions.drop(['is_read', 'is_reviewed'], axis=1)

In [9]:
filtered_user_interactions

           user_id  book_id  rating
0                0      948       5
1                0      947       5
2                0      946       5
3                0      945       5
4                0      944       5
...            ...      ...     ...
118879578   442597    68576       3
118879579   442597   161345       0
118879580   442597   111929       5
118879581   442597   170452       0
118879582   442597    48071       0

[49542620 rows x 3 columns]

In [4]:
books = pd.read_csv("C:/Users/DELL/Desktop/bookrecommend/books+authors+genres.csv", index_col=False)

In [5]:
# a = books.head(1000)
# b = filtered_user_interactions.sample(frac=0.3)

In [6]:
filtered_user_interactions = filtered_user_interactions.merge(books, how='inner', on='book_id')

In [7]:
# merge = merge.drop('Unnamed: 0', axis=1)
# merge

In [8]:
# merge.shape

In [93]:
# ??merge.to_csv("books&users.csv", index=False)

In [9]:
df = filtered_user_interactions.sample(n=20000)

In [10]:
df

,user_id,book_id,rating,Unnamed: 0,title,ratings_count,author_id,average_rating,description,image_url,author_name,genres
15805546,104136,18533,4,581108,"Doctor Faustus and Other Plays, Parts 1-2",1363,11155,3.98,"['Christopher', 'Marlowe', '(1564-1593),', 'a'...",https://s.gr-assets.com/assets/nophoto/book/11...,Christopher Marlowe,"['fiction', 'fantasy, paranormal', 'poetry', '..."
30250337,174982,109996,3,1119885,A Woman of the World,33,63679,3.82,"['As', 'famous', 'for', 'her', 'startling', 'p...",https://images.gr-assets.com/books/1309204050m...,Genie Chipps Henderson,"['history, historical fiction, biography', 'fi..."
9726642,230185,9089,3,1132491,First Kyu: A Novel,106,5929,3.88,[],https://s.gr-assets.com/assets/nophoto/book/11...,Sung-Hwa Hong,['fiction']
37623534,94365,309647,0,531054,Exiles in America,172,19890,3.50,"['Zack', 'Knowles', 'and', 'Daniel', 'Wexler',...",https://s.gr-assets.com/assets/nophoto/book/11...,Christopher Bram,"['fiction', 'children']"
2430766,303606,6830,0,1127462,Easy Italian Reader: A Three-Part Text for Beg...,75,4597,3.70,"['Presents', 'the', 'story', 'of', 'Christine,...",https://s.gr-assets.com/assets/nophoto/book/11...,Riccarda Saggese,['non-fiction']
...,...,...,...,...,...,...,...,...,...,...,...,...
29733283,434676,104916,0,151585,Perfect Weight: The Complete Mind-Body Program...,189,138207,3.56,"['You', 'can', 'achieve', 'your', 'ideal', 'we...",https://s.gr-assets.com/assets/nophoto/book/11...,Deepak Chopra,"['non-fiction', 'fiction']"
24636051,32110,18418,0,600884,"Hand, Hand, Fingers, Thumb (Bright & Early Books)",28,11094,4.22,"['Illus.', 'in', 'full', 'color.', 'A', 'madca...",https://s.gr-assets.com/assets/nophoto/book/11...,Al Perkins,"['children', 'fiction', 'poetry']"
39495224,393946,463361,3,286042,The Devil in a Forest,345,23069,3.61,"['Back', 'in', 'print', 'after', 'two', 'decad...",https://s.gr-assets.com/assets/nophoto/book/11...,Gene Wolfe,"['fantasy, paranormal', 'fiction', 'history, h..."
1072660,127049,450,0,745080,Neon Lit: Paul Auster's City of Glass,108,28996,3.92,"['I', 'cannot', 'possibly', 'offer', 'enough',...",https://s.gr-assets.com/assets/nophoto/book/11...,Paul Karasik,"['comics, graphic', 'fiction', 'mystery, thril..."
16748127,127539,26214,0,152613,Big Anthony and the Magic Ring,390,8725,4.08,"['In', 'this', 'sequel', 'to', 'Caldecott', 'H...",https://s.gr-assets.com/assets/nophoto/book/11...,Tomie dePaola,"['children', 'fiction', 'fantasy, paranormal']"

In [11]:
pv= df.pivot_table(index='title', columns='user_id', values='rating')
pv

user_id,14,28,34,132,195,200,211,226,287,319,...,442440,442455,442467,442482,442508,442547,442573,442589,442591,442597
title,,,,,,,,,,,,,,,,,,,,,
"""A"" Is for Zebra",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"""B"" Is for Betsy",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"""Stand Back,"" Said the Elephant, ""I'm Going to Sneeze!""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"""This Is the Zodiac Speaking"": Into the Mind of a Serial Killer",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"""Why Are All The Black Kids Sitting Together in the Cafeteria?"": A Psychologist Explains the Development of Racial Identity",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
挪威的森林 上+下,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
犬夜叉 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"聖譚曲 (One Piece, #29)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
薔薇刑 [Ba-ra-kei: Ordeal by Roses],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"鋼の錬金術師 1 [Hagane no Renkinjutsushi 1] (Fullmetal Alchemist, #1)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
pv.fillna(0, inplace=True)

In [112]:
pv

user_id,5,14,97,119,144,195,226,309,405,445,...,442483,442503,442514,442525,442530,442532,442549,442559,442567,442589
title,,,,,,,,,,,,,,,,,,,,,
"""B"" Is for Betsy",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"""Master Harold""...and the boys",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"""Tell Me a Riddle"": Tillie Olsen",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"""Wicked"" Women on Top",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"""You Gotta Be the Book"": Teaching Engaged and Reflective Reading With Adolescents (Language and Literacy Series )",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
چنین گفت زرتشت,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
کافه نادری,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
گزینه اشعار,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
یک هفته با شاملو,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
彼方から 2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
from sklearn.metrics.pairwise import cosine_similarity

In [14]:
similarity_scores = cosine_similarity(pv)

In [15]:
similarity_scores.shape

(11852, 11852)

In [16]:
similarity_scores[0]

array([1., 0., 0., ..., 0., 0., 0.])

In [51]:
def recommend(book_name):
    index = np.where(pv.index==book_name)[0][0]
    print(index)
    distances = similarity_scores[index]
    suggestions = sorted(list(enumerate(similarity_scores[index])), key=lambda x:x[1], reverse=True)[1:6]
    data = []
    for i in suggestions:
        # print(i)
        items = []
        # print(pv.index[i[0]])
        temp_df = df[df['title'] == pv.index[i[0]]]
        items.extend(list(temp_df.drop_duplicates('title')['title'].values))
        items.extend(list(temp_df.drop_duplicates('title')['image_url'].values))
        items.extend(list(temp_df.drop_duplicates('title')['author_name'].values))


        data.append(items)
    return data

In [52]:
recommend('The Green Mile')

8918
[['"A" Is for Zebra', 'https://images.gr-assets.com/books/1328858765m/334.jpg', 'Mark Shulman'], ['"B" Is for Betsy', 'https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png', 'Carolyn Haywood'], ['"Stand Back," Said the Elephant, "I\'m Going to Sneeze!"', 'https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png', 'Patricia Thomas'], ['"This Is the Zodiac Speaking": Into the Mind of a Serial Killer', 'https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png', 'Michael D. Kelleher'], ['"Why Are All The Black Kids Sitting Together in the Cafeteria?": A Psychologist Explains the Development of Racial Identity', 'https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png', 'Beverly Daniel Tatum']]

In [81]:
print(np.where(pv.index=='The Tale of Despereaux',))

(array([4560], dtype=int64),)

In [37]:
df[df['ratings_count'] > 100000]

,user_id,book_id,rating,Unnamed: 0,title,ratings_count,author_id,average_rating,description,image_url,author_name,genres
1679978,362205,21,0,90589,A Short History of Nearly Everything,196205,7,4.19,"['In', ""Bryson's"", 'biggest', 'book,', 'he', '...",https://s.gr-assets.com/assets/nophoto/book/11...,Bill Bryson,"['history, historical fiction, biography', 'no..."
32336796,33025,51496,4,140607,The Strange Case of Dr. Jekyll and Mr. Hyde,229898,854076,3.79,"['In', 'this', 'harrowing', 'tale', 'of', 'goo...",https://images.gr-assets.com/books/1318116526m...,Robert Louis Stevenson,"['fiction', 'mystery, thriller, crime', 'fanta..."
6104345,146601,2880,0,71131,"Bleach, Volume 01",123807,1977,4.21,"['Hot-tempered', '15-year-old', 'Ichigo', 'Kur...",https://s.gr-assets.com/assets/nophoto/book/11...,Tite Kubo,"['fantasy, paranormal', 'comics, graphic', 'fi..."
8787979,37990,11566,3,1402,The Green Mile,177376,3389,4.42,"['At', 'Cold', 'Mountain', 'Penitentiary,', 'a...",https://images.gr-assets.com/books/1373903563m...,Stephen King,"['fiction', 'fantasy, paranormal', 'mystery, t..."
7902323,325709,1420,5,65989,Hamlet,526122,947,4.01,"['One', 'of', 'the', 'greatest', 'plays', 'of'...",https://images.gr-assets.com/books/1351051208m...,William Shakespeare,"['poetry', 'history, historical fiction, biogr..."
...,...,...,...,...,...,...,...,...,...,...,...,...
2377518,434179,6853,0,231671,"One for the Money (Stephanie Plum, #1)",396981,2384,4.03,"['Pestered', 'by', 'her', 'close', 'New', 'Jer...",https://images.gr-assets.com/books/1316730230m...,Janet Evanovich,"['mystery, thriller, crime', 'fiction', 'roman..."
2618367,402180,6689,0,158130,James and the Giant Peach,276439,4273,3.99,"['When', 'James', 'accidentally', 'drops', 'so...",https://images.gr-assets.com/books/1320412586m...,Roald Dahl,"['children', 'fantasy, paranormal', 'fiction',..."
14451407,312948,1430,0,105171,Eleven Minutes,104240,566,3.69,"['Eleven', 'Minutesis', 'the', 'story', 'of', ...",https://images.gr-assets.com/books/1358266987m...,Paulo Coelho,"['fiction', 'romance']"
14448604,198995,1430,5,105171,Eleven Minutes,104240,566,3.69,"['Eleven', 'Minutesis', 'the', 'story', 'of', ...",https://images.gr-assets.com/books/1358266987m...,Paulo Coelho,"['fiction', 'romance']"
25538945,404682,68428,0,23604,"The Final Empire (Mistborn, #1)",216149,38550,4.43,"['In', 'a', 'world', 'where', 'ash', 'falls', ...",https://images.gr-assets.com/books/1480717416m...,Brandon Sanderson,"['fantasy, paranormal', 'fiction', 'young-adul..."

In [22]:
df.head()

,user_id,book_id,rating,Unnamed: 0,title,ratings_count,author_id,average_rating,description,image_url,author_name,genres
15805546,104136,18533,4,581108,"Doctor Faustus and Other Plays, Parts 1-2",1363,11155,3.98,"['Christopher', 'Marlowe', '(1564-1593),', 'a'...",https://s.gr-assets.com/assets/nophoto/book/11...,Christopher Marlowe,"['fiction', 'fantasy, paranormal', 'poetry', '..."
30250337,174982,109996,3,1119885,A Woman of the World,33,63679,3.82,"['As', 'famous', 'for', 'her', 'startling', 'p...",https://images.gr-assets.com/books/1309204050m...,Genie Chipps Henderson,"['history, historical fiction, biography', 'fi..."
9726642,230185,9089,3,1132491,First Kyu: A Novel,106,5929,3.88,[],https://s.gr-assets.com/assets/nophoto/book/11...,Sung-Hwa Hong,['fiction']
37623534,94365,309647,0,531054,Exiles in America,172,19890,3.50,"['Zack', 'Knowles', 'and', 'Daniel', 'Wexler',...",https://s.gr-assets.com/assets/nophoto/book/11...,Christopher Bram,"['fiction', 'children']"
2430766,303606,6830,0,1127462,Easy Italian Reader: A Three-Part Text for Beg...,75,4597,3.70,"['Presents', 'the', 'story', 'of', 'Christine,...",https://s.gr-assets.com/assets/nophoto/book/11...,Riccarda Saggese,['non-fiction']

In [53]:
import pickle

In [56]:
pickle.dump(pv, open('pv.pkl', 'wb'))
pickle.dump(df, open('col_Df.pkl', 'wb'))
pickle.dump(similarity_scores, open('col_similarity_scores.pkl', 'wb'))